<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
    <h1>Estamos en About</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum rerum deserunt illo eum molestias, autem quas. Quae alias laborum quas rerum rem! Molestias quia nobis magni quam quibusdam, possimus facere!</p>
    <a href="/home">Hola Home</a>
    <a href="/gallery">Hola Gallery</a>
</body>
</html>